step functions code
{
  "Comment": "Image processing workflow with Choice state and S3 buckets",
  "StartAt": "Resize Image",
  "States": {
    "Resize Image": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-2:214181534712:function:Capstone-imageResizer-Elorde",
      "Next": "Check Result",
      "Parameters": {
        "srcBucket": "capstone-original-img",
        "destBucket": "capstone-resized-img",
        "srcKey.$": "$.imageKey"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Fail State"
        }
      ]
    },
    "Check Result": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.statusCode",
          "NumericEquals": 200,
          "Next": "Success State"
        }
      ],
      "Default": "Fail State"
    },
    "Success State": {
      "Type": "Succeed"
    },
    "Fail State": {
      "Type": "Fail",
      "Error": "ImageResizeFailed",
      "Cause": "Lambda failed to resize the image"
    }
  }
}
